<html>
<head>
	<!-- CSS AND JQUERY FILES -->
	<link rel="stylesheet" href="/assets/bootstrap-3.3-1.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title> Horta Hidroponica!</title>
</head>
<body>

	<nav class="navbar navbar-default navCustom">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="http://localhost:3000/home">Hortas Hidropônicas</a>
    		</div>
    		<ul class="nav navbar-nav">
				<li class="active"><a href="#">Suas Hortas!</a></li>
				<li><a href="#">Procure</a></li>
   			 </ul>
   			<ul class="nav navbar-nav loginName navbar-right">
   				<li><a>Olá <%= user["nome"] %>!</a></li>
				<li><button id="logoutButton"><a href="/auth/logout">Logout</a></button></li>
   			</ul>
  		</div>
	</nav>
	<h5>Código Único: <%= user["id"] %></h5>

	<div class="container hortas">

		<!--<form id="cadastroHorta" method="POST" action="/cadastroHorta">
			<button class="pull-right cadastraHorta"> <h3> Cadastre uma horta! </h3> </button>
		</form>-->

		<div class="container-fluid hortaFrame">
			<form id="adicionar_horta" method="POST" action="/formHorta">
				<button type="submit" class="btn btn-primary btnAdicionarHorta"> Adicionar </button>
			</form>
			<div class="row">
			<% var count = 0 %>
			<% user["hortas"].forEach(function(horta){ %>
			<% if(horta.data != ''){ %>		
				<div class="col-lg-4">
						<div class="col-lg-12 hortaBox">
							<a href="http://localhost:3000/profile/horta/<%=user.id%>-<%= horta.id %>"> <h1>Horta</h1></a>
										<div class="paperBkg">
											<h3> <%=horta.id %></h3>
											<% if (horta.data !== undefined){ %>
											<h3>Data: <%= horta.data %></h3>
											<%}%>
											<% if (horta.data == undefined){ %>
											<h3>Data: Não há dados!</h3>
											<%}%>
											<% if (horta.ph !== undefined){ %>
											<h3 >Ph:  <%= horta.ph %></h3>
											<%}%>
											<% if (horta.ph == undefined){ %>
											<h3>Ph: Não há dados!</h3>
											<%}%>
											<% if (horta.temperatura !== undefined){ %>
											<h3>Temperatura: <%= horta.temperatura %></h3>
											<%}%>
											<% if (horta.temperatura == undefined){ %>
											<h3>Temperatura: não há dados!</h3>
											<%}%>
											<% if (horta.turbidez !== undefined){ %>
											<h3>Turbidez: <%= horta.turbidez %></h3>
											<%}%>
											<% if (horta.turbidez == undefined){ %>
											<h3>Turbidez: Não há dados!</h3>
											<%}%>
											<% if (horta.umidadeRelAr !== undefined){ %>
											<h3>Umidade Relativa: <%= horta.umidadeRelAr %></h3>
											<%}%>
											<% if (horta.ph == undefined){ %>
											<h3>Umidade Relativa: Não há dados!</h3>
											<%}%>
											<% if (horta.vazao !== undefined){ %>
											<h3>Vazão: <%= horta.vazao %></h3>
											<%}%>
											<% if (horta.vazao == undefined){ %>
											<h3>Vazão: não há dados!</h3>
											<%}%>
										</div>
										
								<button class="botaoExcluirHorta" type="submit" id="<%=horta.id %>" style="padding: 10px; font-size: 25px; border-radius: 10px; margin: 40% 20% 5% 20%">Excluir Horta</button>
						</div>
				</div>
			<% count = count + 1 %>
			<% }}) %>
			<% if(count == 0){ %>
			<h2 class="text-center" style="margin-top: 15%">Você não possui nenhuma horta </h2>
			<% } %>

		</div>
	</div>
	
</body>
<script src="/assets/js/main.js"></script>
<script>
$(document).ready(function(){
	$(".botaoExcluirHorta").click(function(e){
		alert("Horta Excluída!");
		const hortaId = e.target.id;
		e.preventDefault();
		//let hortaId = $('.botaoExcluirHorta').parent().parent().children("a").children("h3").html();

		$.ajax({
			type: 'DELETE',
        url: '/deleteHorta/' + hortaId,
        success: function(data){
          //do something with the data via front-end framework
          location.reload();
        }
		});
	});
})
</script>
</html>